# Matt Manner, Connor Nickol, Josh Gen
## 3 Apr 23

Importing packages

In [1]:
import pandas as pd
import numpy as np
import os
#import torch

Mounting drives for importing from Google Drive

In [47]:
# Code for google colab
#from google.colab import drive
#drive.mount('/content/drive', force_remount=True)

Importing data

In [57]:
players = pd.read_csv('players.csv')#'/content/drive/MyDrive/nfl-big-data-bowl-2023/players.csv')
plays = pd.read_csv('plays.csv')#'/content/drive/MyDrive/nfl-big-data-bowl-2023/plays.csv')
locations = pd.DataFrame()
for i in range(1,8):
    url = 'week'+str(i)+'.csv' #/content/drive/MyDrive/nfl-big-data-bowl-2023/week
    week_data = pd.read_csv(url)
    locations = pd.concat([locations, week_data])

Use GPU

In [3]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [52]:
games = pd.read_csv('games.csv')

In [53]:
games

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL
1,2021091200,2021,1,09/12/2021,13:00:00,ATL,PHI
2,2021091201,2021,1,09/12/2021,13:00:00,BUF,PIT
3,2021091202,2021,1,09/12/2021,13:00:00,CAR,NYJ
4,2021091203,2021,1,09/12/2021,13:00:00,CIN,MIN
...,...,...,...,...,...,...,...
117,2021103109,2021,8,10/31/2021,16:05:00,SEA,JAX
118,2021103110,2021,8,10/31/2021,16:25:00,DEN,WAS
119,2021103111,2021,8,10/31/2021,16:25:00,NO,TB
120,2021103112,2021,8,10/31/2021,20:20:00,MIN,DAL
121,2021110100,2021,8,11/01/2021,20:15:00,KC,NYG

In [54]:
games = games[['gameId','homeTeamAbbr']]

In [59]:
locations = locations.merge(games, on = 'gameId', how = 'left')

In [60]:
#

In [61]:
locations['uniqueplayId'] = locations['gameId'].astype(str) + locations['playId'].astype(str)

Need to make an adjacency matrix (nxnxt), edge feature matrix (exfxt), node feature matrix (nxfxt)

In [7]:
## Getting just one play for now and going to try the stack technique
test_adj = locations[['nflId','frameId','uniqueplayId','x','y']].set_index(['nflId','frameId'])
test_adj1 = test_adj[test_adj['uniqueplayId'] == '202109090097'].drop('uniqueplayId', axis = 1)

In [8]:
test_adj1

                     x      y
nflId   frameId
25511.0 1        37.77  24.22
        2        37.78  24.22
        3        37.78  24.24
        4        37.73  24.25
        5        37.69  24.26
...                ...    ...
NaN     39       33.25  21.79
        40       36.55  19.21
        41       37.77  18.49
        42       38.91  17.79
        43       40.07  17.08

[989 rows x 2 columns]

In [ ]:
43*23

989

In [ ]:
## Get player labels for the example play
labels = locations[['nflId','frameId','uniqueplayId','x','y']]
labels = labels[labels['uniqueplayId'] == '202109090097']['nflId']
labels = np.unique(labels)

In [ ]:
## Looking at the first frame 
from scipy.spatial.distance import cdist
frame1 = pd.DataFrame(np.stack(test_adj1.groupby('frameId').apply(lambda x: cdist(x,x,'euclidean'))).astype(None)[0])
frame1 = frame1.set_index(labels)
frame1.columns = labels
frame1

,25511.0,35481.0,35634.0,39985.0,40151.0,41233.0,41263.0,42377.0,42403.0,42404.0,...,44904.0,44955.0,44962.0,46163.0,47996.0,52421.0,52459.0,53441.0,53504.0,NaN
25511.0,0.000000,5.938097,12.927444,1.973449,4.417080,9.080666,8.072329,4.627883,10.532260,4.421086,...,15.138246,5.773768,21.060888,3.981281,10.684779,4.427640,9.799765,6.384293,6.406942,5.153145
35481.0,5.938097,0.000000,7.590534,7.746206,5.295508,12.993325,10.763777,2.308354,4.608047,3.596804,...,9.282958,4.668212,17.614278,6.528859,9.660274,7.790314,13.105373,7.731093,3.600347,5.431179
35634.0,12.927444,7.590534,0.000000,14.885325,12.825327,20.575298,18.236516,9.865906,5.064000,11.121511,...,3.660833,11.862141,19.966477,14.116551,15.768339,15.380832,20.623312,15.106886,10.425685,12.845813
39985.0,1.973449,7.746206,14.885325,0.000000,4.945068,7.538289,7.080113,6.125112,12.284340,5.568492,...,17.009174,6.592367,21.661683,3.897602,10.833467,3.720497,8.449953,6.181691,7.567734,5.666816
40151.0,4.417080,5.295508,12.825327,4.945068,0.000000,7.781857,5.473874,2.987189,8.914084,1.705579,...,14.003517,1.741551,16.760251,1.540519,6.289777,2.805887,7.812324,2.590174,3.093558,0.743303
41233.0,9.080666,12.993325,20.575298,7.538289,7.781857,0.000000,3.003764,10.709883,16.623189,9.470190,...,21.733113,9.068302,19.983185,6.466970,9.165948,5.241040,1.492146,5.938527,10.613802,7.902569
41263.0,8.072329,10.763777,18.236516,7.080113,5.473874,3.003764,0.000000,8.457435,13.994892,7.166987,...,19.098482,6.442802,17.253420,4.523549,6.236986,3.657280,2.435262,3.180393,7.970056,5.391030
42377.0,4.627883,2.308354,9.865906,6.125112,2.987189,10.709883,8.457435,0.000000,6.307963,1.293406,...,11.282491,2.597865,17.055676,4.261983,7.943815,5.544448,10.797541,5.455795,2.151279,3.162183
42403.0,10.532260,4.608047,5.064000,12.284340,8.914084,16.623189,13.994892,6.307963,0.000000,7.331255,...,5.111653,7.570740,15.524642,10.393060,10.796342,11.690308,16.428551,10.814735,6.029594,8.720929
42404.0,4.421086,3.596804,11.121511,5.568492,1.705579,9.470190,7.166987,1.293406,7.331255,0.000000,...,12.385350,1.606487,16.733541,3.076004,7.019095,4.373786,9.517069,4.169652,2.011890,1.888200
43306.0,8.698988,3.541327,7.978371,10.191766,6.142524,13.675573,10.959530,4.085890,3.120657,4.759328,...,8.160496,4.617878,14.195922,7.675220,7.792644,8.947692,13.394424,7.789865,3.084234,5.824543
43478.0,14.505423,8.738884,2.627946,16.406907,13.643039,21.411212,18.850767,10.835091,4.889908,11.989316,...,1.035857,12.410016,18.241724,15.062911,15.533171,16.358230,21.280002,15.671544,10.881838,13.522019
44896.0,12.713473,7.634461,0.900222,14.683123,12.920163,20.619585,18.370229,9.937832,5.636000,11.215311,...,4.535604,12.063200,20.755534,14.152632,16.191334,15.396532,20.732356,15.275143,10.675322,12.991971
44904.0,15.138246,9.282958,3.660833,17.009174,14.003517,21.733113,19.098482,11.282491,5.111653,12.385350,...,0.000000,12.681897,17.550285,15.459913,15.469324,16.758249,21.533232,15.919614,11.139488,13.830546
44955.0,5.773768,4.668212,11.862141,6.592367,1.741551,9.068302,6.442802,2.597865,7.570740,1.606487,...,12.681897,0.000000,15.287675,3.240772,5.421042,4.435178,8.870051,3.268822,1.545736,1.229837
44962.0,21.060888,17.614278,19.966477,21.661683,16.760251,19.983185,17.253420,17.055676,15.524642,16.733541,...,17.550285,15.287675,0.000000,17.811300,11.197254,18.442977,18.717201,15.856059,14.924600,16.021439
46163.0,3.981281,6.528859,14.116551,3.897602,1.540519,6.466970,4.523549,4.261983,10.393060,3.076004,...,15.459913,3.240772,17.811300,0.000000,6.942082,1.298384,6.691487,2.409689,4.634059,2.058665
47996.0,10.684779,9.660274,15.768339,10.833467,6.289777,9.165948,6.236986,7.943815,10.796342,7.019095,...,15.469324,5.421042,11.197254,6.942082,0.000000,7.352394,8.140055,4.740137,6.065130,5.579534
52421.0,4.427640,7.790314,15.380832,3.720497,2.805887,5.241040,3.657280,5.544448,11.690308,4.373786,...,16.758249,4.435178,18.442977,1.298384,7.352394,0.000000,5.606300,2.612279,5.886230,3.211744
52459.0,9.799765,13.105373,20.623312,8.449953,7.812324,1.492146,2.435262,10.797541,16.428551,9.517069,...,21.533232,8.870051,18.717201,6.691487,8.140055,5.606300,0.000000,5.613929,10.401735,7.791617
53441.0,6.384293,7.731093,15.106886,6.181691,2.590174,5.938527,3.180393,5.455795,10.814735,4.169652,...,15.919614,3.268822,15.856059,2.409689,4.740137,2.612279,5.613929,0.000000,4.790042,2.299935
53504.0,6.406942,3.600347,10.425685,7.567734,3.093558,10.613802,7.970056,2.151279,6.029594,2.011890,...,11.139488,1.545736,14.924600,4.634059,6.065130,5.886230,10.401735,4.790042,0.000000,2.740401
NaN,5.153145,5.431179,12.845813,5.666816,0.743303,7.902569,5.391030,3.162183,8.720929,1.888200,...,13.830546,1.229837,16.021439,2.058665,5.579534,3.211744,7.791617,2.299935,2.740401,0.000000

In [ ]:
## Performing some check to make sure the ids are lined up correctly 
test_play1 = locations[['nflId','frameId','uniqueplayId','x','y']]
test_play1 = test_play1[test_play1['uniqueplayId'] == '202109090097']
test_play1 = test_play1[test_play1['frameId'] == 1]
test_play1

       nflId  frameId  uniqueplayId      x      y
0    25511.0        1  202109090097  37.77  24.22
43   35481.0        1  202109090097  41.08  29.15
86   35634.0        1  202109090097  40.99  36.74
129  39985.0        1  202109090097  37.54  22.26
172  40151.0        1  202109090097  42.18  23.97
215  41233.0        1  202109090097  42.01  16.19
258  41263.0        1  202109090097  43.66  18.70
301  42377.0        1  202109090097  41.55  26.89
344  42403.0        1  202109090097  44.03  32.69
387  42404.0        1  202109090097  41.95  25.66
430  43306.0        1  202109090097  44.59  29.62
473  43478.0        1  202109090097  43.49  37.55
516  44896.0        1  202109090097  40.09  36.72
559  44904.0        1  202109090097  44.50  37.78
602  44955.0        1  202109090097  43.47  25.14
645  44962.0        1  202109090097  58.60  27.33
688  46163.0        1  202109090097  41.42  22.63
731  47996.0        1  202109090097  48.36  22.80
774  52421.0        1  202109090097  41.15  21.36
817  52459.0        1  202109090097  43.50  16.27
860  53441.0        1  202109090097  43.71  21.88
903  53504.0        1  202109090097  43.69  26.67
946      NaN        1  202109090097  42.92  24.04

In [ ]:
import math
p = [37.77, 24.22] 
q = [43.69, 26.67] 

# Calculate Euclidean distance
print (math.dist(p, q))

6.406941548039903

In [ ]:
## Attempting to get the adjacency matrices for all plays
from scipy.spatial.distance import cdist
all_plays  = locations[['nflId','frameId','uniqueplayId','x','y']].set_index(['nflId','frameId','uniqueplayId'])
adj_matrices = all_plays.groupby(['uniqueplayId','frameId']).apply(lambda x: cdist(x,x,'euclidean'))

In [ ]:
adj_matrices.shape

(318923,)

We have 318,923 frames. For each of these frames there is a 23x23 distance matrix.

In [ ]:
adj_matrices

uniqueplayId    frameId
20210909001078  1          [[0.0, 3.3509550877324523, 2.3168297304722225,...
                2          [[0.0, 3.320963715550051, 2.2939267643061307, ...
                3          [[0.0, 3.2909725006447585, 2.2770595073471402,...
                4          [[0.0, 3.2609814473559964, 2.265965577849759, ...
                5          [[0.0, 3.2403857795021893, 2.2717834403833477,...
                                                 ...
2021102500933   59         [[0.0, 15.854731155084279, 1.6911830178901415,...
                60         [[0.0, 15.856437178635062, 1.944453650771859, ...
                61         [[0.0, 15.882833500355027, 2.242074931843273, ...
                62         [[0.0, 15.919447226584214, 2.536454217998032, ...
                63         [[0.0, 15.981267158770601, 2.8402288640178264,...
Length: 318923, dtype: object

In [ ]:
binary_adj = adj_matrices
for frame in range(len(binary_adj)):
  binary_adj[frame] = (binary_adj[frame] < 10).astype(int)

In [ ]:
binary_adj

uniqueplayId    frameId
20210909001078  1          [[1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,...
                2          [[1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,...
                3          [[1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,...
                4          [[1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,...
                5          [[1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,...
                                                 ...
2021102500933   59         [[1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,...
                60         [[1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,...
                61         [[1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,...
                62         [[1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,...
                63         [[1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,...
Length: 318923, dtype: object

## For the edge matrix, we need to figure out how to make it number of edges by number of features keeping track of who is connected to who

## Working on the feature matrix. Things to implement:
- Cut the play after 3? seconds
- Corner orientation or maybe all defensive player orientation
- Yard line, down and distance, score margin, quarter all possible additions
- Personel package on the field?

In [62]:
## Standardizing the ball to always be the same spot

## Filter out some of the coverages
plays = plays[plays.pff_passCoverage != 'Bracket']
plays = plays[plays.pff_passCoverage != 'Goal Line']
plays = plays[plays.pff_passCoverage != 'Miscellaneous']
plays = plays[plays.pff_passCoverage != 'Prevent']
plays = plays[plays.pff_passCoverage != 'Red Zone']

plays['uniqueplayId'] = plays['gameId'].astype(str) + plays['playId'].astype(str)

# merge the locational dataset with the plays dataset to remove these coverages in locational dataset
locations = plays.merge(locations, on='uniqueplayId')

In [63]:
# Dropping all of the rows that occur before the snap of the ball
snap_time = locations.loc[locations['event'] == 'ball_snap',['uniqueplayId', 'frameId']].rename(columns = {'frameId':'ball_snap_frame'})
snap_time_unique = snap_time.drop_duplicates(subset = 'uniqueplayId')

In [64]:
locations = locations.merge(snap_time_unique, on = 'uniqueplayId', how = 'left')
locations

,gameId_x,playId_x,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,x,y,s,a,dis,o,dir,event,homeTeamAbbr,ball_snap_frame
0,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None,TB,6.0
1,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None,TB,6.0
2,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None,TB,6.0
3,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None,TB,6.0
4,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None,TB,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891830,2021102500,3945,"(1:23) (No Huddle, Shotgun) G.Smith sacked at ...",4,3,18,SEA,NO,SEA,17,...,103.84,18.54,4.19,3.60,0.44,NaN,NaN,None,SEA,7.0
6891831,2021102500,3945,"(1:23) (No Huddle, Shotgun) G.Smith sacked at ...",4,3,18,SEA,NO,SEA,17,...,103.74,18.24,3.39,4.45,0.32,NaN,NaN,None,SEA,7.0
6891832,2021102500,3945,"(1:23) (No Huddle, Shotgun) G.Smith sacked at ...",4,3,18,SEA,NO,SEA,17,...,103.66,17.97,2.74,4.55,0.27,NaN,NaN,None,SEA,7.0
6891833,2021102500,3945,"(1:23) (No Huddle, Shotgun) G.Smith sacked at ...",4,3,18,SEA,NO,SEA,17,...,103.59,17.74,2.22,4.87,0.24,NaN,NaN,None,SEA,7.0
6891834,2021102500,3945,"(1:23) (No Huddle, Shotgun) G.Smith sacked at ...",4,3,18,SEA,NO,SEA,17,...,103.55,17.56,1.68,4.51,0.18,NaN,NaN,None,SEA,7.0

In [65]:
locations = locations[~(locations['frameId'] < locations['ball_snap_frame'])]

In [66]:
## Dropping any frames after 3 seconds 
locations['end_frame'] = locations['ball_snap_frame'] + 30

<ipython-input-66-cfefbb3e0bfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations['end_frame'] = locations['ball_snap_frame'] + 30

In [67]:
locations = locations[~(locations['frameId'] > locations['end_frame'])]

In [68]:
locations.columns

Index(['gameId_x', 'playId_x', 'playDescription', 'quarter', 'down',
       'yardsToGo', 'possessionTeam', 'defensiveTeam', 'yardlineSide',
       'yardlineNumber', 'gameClock', 'preSnapHomeScore',
       'preSnapVisitorScore', 'passResult', 'penaltyYards',
       'prePenaltyPlayResult', 'playResult', 'foulName1', 'foulNFLId1',
       'foulName2', 'foulNFLId2', 'foulName3', 'foulNFLId3',
       'absoluteYardlineNumber', 'offenseFormation', 'personnelO',
       'defendersInBox', 'personnelD', 'dropBackType', 'pff_playAction',
       'pff_passCoverage', 'pff_passCoverageType', 'uniqueplayId', 'gameId_y',
       'playId_y', 'nflId', 'frameId', 'time', 'jerseyNumber', 'team',
       'playDirection', 'x', 'y', 's', 'a', 'dis', 'o', 'dir', 'event',
       'homeTeamAbbr', 'ball_snap_frame', 'end_frame'],
      dtype='object')

In [69]:
## Dropping columns not using for analysis
locations = locations[['gameId_x', 'playId_x', 'quarter', 'down',
       'yardsToGo', 'possessionTeam', 'defensiveTeam',
       'yardlineNumber', 'gameClock', 'preSnapHomeScore',
       'preSnapVisitorScore','homeTeamAbbr',
       'absoluteYardlineNumber', 'pff_passCoverage', 'uniqueplayId', 'nflId', 'frameId', 'time', 'team',
       'playDirection', 'x', 'y', 's', 'a', 'o', 'event',]]

In [70]:
locations

,gameId_x,playId_x,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineNumber,gameClock,preSnapHomeScore,...,frameId,time,team,playDirection,x,y,s,a,o,event
5,2021090900,97,1,3,2,TB,DAL,33,13:33,0,...,6,2021-09-10 00:26:31,TB,right,37.64,24.26,0.35,0.53,144.42,ball_snap
6,2021090900,97,1,3,2,TB,DAL,33,13:33,0,...,7,2021-09-10 00:26:31,TB,right,37.56,24.26,0.54,1.05,137.49,None
7,2021090900,97,1,3,2,TB,DAL,33,13:33,0,...,8,2021-09-10 00:26:31,TB,right,37.47,24.25,0.80,1.85,131.95,None
8,2021090900,97,1,3,2,TB,DAL,33,13:33,0,...,9,2021-09-10 00:26:31,TB,right,37.38,24.24,0.99,2.03,129.85,None
9,2021090900,97,1,3,2,TB,DAL,33,13:33,0,...,10,2021-09-10 00:26:32,TB,right,37.27,24.23,1.19,1.82,123.79,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891804,2021102500,3945,4,3,18,SEA,NO,17,01:23,10,...,33,2021-10-26 03:14:36,football,left,102.23,27.11,1.48,0.57,NaN,None
6891805,2021102500,3945,4,3,18,SEA,NO,17,01:23,10,...,34,2021-10-26 03:14:36,football,left,102.35,27.20,1.56,0.81,NaN,None
6891806,2021102500,3945,4,3,18,SEA,NO,17,01:23,10,...,35,2021-10-26 03:14:36,football,left,102.49,27.27,1.61,0.94,NaN,None
6891807,2021102500,3945,4,3,18,SEA,NO,17,01:23,10,...,36,2021-10-26 03:14:36,football,left,102.64,27.33,1.64,1.55,NaN,None
6891808,2021102500,3945,4,3,18,SEA,NO,17,01:23,10,...,37,2021-10-26 03:14:36,football,left,102.82,27.36,1.72,1.70,NaN,None

In [71]:
## Dropping any rows after the ball has been thrown
locations['event'].value_counts()

None                         4445026
ball_snap                     162633
pass_forward                   93564
autoevent_passforward          46299
play_action                    37973
autoevent_ballsnap             29647
pass_arrived                    3243
autoevent_passinterrupted       1656
pass_tipped                     1541
run                             1173
first_contact                    644
qb_sack                          575
shift                            575
qb_strip_sack                    460
man_in_motion                    253
pass_outcome_incomplete          207
pass_outcome_caught              207
fumble                           207
handoff                          207
fumble_offense_recovered         161
line_set                         138
lateral                           23
huddle_break_offense              23
Name: event, dtype: int64

In [72]:
end_time = locations.loc[locations['event'].isin(['pass_forward','autoevent_passforward','qb_sack','qb_strip_sack','handoff'])]
end_time = end_time.groupby('uniqueplayId').agg('min').reset_index()

In [73]:
end_time['end_frame'] = end_time['frameId']
end_time = end_time[['uniqueplayId','end_frame']]

In [74]:
locations = locations.merge(end_time, on = 'uniqueplayId', how = 'left')

In [75]:
locations['end_frame'] = locations['end_frame'].fillna(100)

In [76]:
locations = locations[locations['frameId'] < locations['end_frame']]

In [77]:
locations = locations.drop(['gameId_x','playId_x','end_frame'],axis = 1)

In [78]:
locations

,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineNumber,gameClock,preSnapHomeScore,preSnapVisitorScore,homeTeamAbbr,...,frameId,time,team,playDirection,x,y,s,a,o,event
0,1,3,2,TB,DAL,33,13:33,0,0,TB,...,6,2021-09-10 00:26:31,TB,right,37.64,24.26,0.35,0.53,144.42,ball_snap
1,1,3,2,TB,DAL,33,13:33,0,0,TB,...,7,2021-09-10 00:26:31,TB,right,37.56,24.26,0.54,1.05,137.49,None
2,1,3,2,TB,DAL,33,13:33,0,0,TB,...,8,2021-09-10 00:26:31,TB,right,37.47,24.25,0.80,1.85,131.95,None
3,1,3,2,TB,DAL,33,13:33,0,0,TB,...,9,2021-09-10 00:26:31,TB,right,37.38,24.24,0.99,2.03,129.85,None
4,1,3,2,TB,DAL,33,13:33,0,0,TB,...,10,2021-09-10 00:26:32,TB,right,37.27,24.23,1.19,1.82,123.79,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4826430,4,3,18,SEA,NO,17,01:23,10,13,SEA,...,33,2021-10-26 03:14:36,football,left,102.23,27.11,1.48,0.57,NaN,None
4826431,4,3,18,SEA,NO,17,01:23,10,13,SEA,...,34,2021-10-26 03:14:36,football,left,102.35,27.20,1.56,0.81,NaN,None
4826432,4,3,18,SEA,NO,17,01:23,10,13,SEA,...,35,2021-10-26 03:14:36,football,left,102.49,27.27,1.61,0.94,NaN,None
4826433,4,3,18,SEA,NO,17,01:23,10,13,SEA,...,36,2021-10-26 03:14:36,football,left,102.64,27.33,1.64,1.55,NaN,None
4826434,4,3,18,SEA,NO,17,01:23,10,13,SEA,...,37,2021-10-26 03:14:36,football,left,102.82,27.36,1.72,1.70,NaN,None

In [79]:
football = locations.loc[locations['team'] == 'football',
                               ['uniqueplayId', 'x', 'y','event']
                               ].rename(columns={'x':'football_x',
                                                 'y':'football_y'})
locations = football[football['event'] == 'ball_snap'].merge(locations, on='uniqueplayId', how='right')

In [80]:
locations

,uniqueplayId,football_x,football_y,event_x,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineNumber,...,frameId,time,team,playDirection,x,y,s,a,o,event_y
0,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,6,2021-09-10 00:26:31,TB,right,37.64,24.26,0.35,0.53,144.42,ball_snap
1,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,7,2021-09-10 00:26:31,TB,right,37.56,24.26,0.54,1.05,137.49,None
2,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,8,2021-09-10 00:26:31,TB,right,37.47,24.25,0.80,1.85,131.95,None
3,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,9,2021-09-10 00:26:31,TB,right,37.38,24.24,0.99,2.03,129.85,None
4,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,10,2021-09-10 00:26:32,TB,right,37.27,24.23,1.19,1.82,123.79,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4340647,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,33,2021-10-26 03:14:36,football,left,102.23,27.11,1.48,0.57,NaN,None
4340648,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,34,2021-10-26 03:14:36,football,left,102.35,27.20,1.56,0.81,NaN,None
4340649,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,35,2021-10-26 03:14:36,football,left,102.49,27.27,1.61,0.94,NaN,None
4340650,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,36,2021-10-26 03:14:36,football,left,102.64,27.33,1.64,1.55,NaN,None
4340651,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,37,2021-10-26 03:14:36,football,left,102.82,27.36,1.72,1.70,NaN,None

In [81]:
locations['new_x'] = abs(locations['x']-locations['football_x'])
locations['new_y'] = np.where(locations['playDirection']=='right', 
                                   locations['football_y']-locations['y'],
                                   locations['y']-locations['football_y'])

In [82]:
locations['Defense'] = np.where(locations['team']== locations['defensiveTeam'], 1, 0)

In [83]:
flipped_o = locations.loc[locations['playDirection'] == 'right',['uniqueplayId','nflId','frameId', 'o']]
flipped_o['o'] = np.where(flipped_o['o'] > 180,
                         flipped_o['o'] - 180,
                         360 - flipped_o['o'])

In [84]:
flipped_o

           uniqueplayId    nflId  frameId       o
0          202109090097  25511.0        6  215.58
1          202109090097  25511.0        7  222.51
2          202109090097  25511.0        8  228.05
3          202109090097  25511.0        9  230.15
4          202109090097  25511.0       10  236.21
...                 ...      ...      ...     ...
4338646  20211025003735      NaN       33     NaN
4338647  20211025003735      NaN       34     NaN
4338648  20211025003735      NaN       35     NaN
4338649  20211025003735      NaN       36     NaN
4338650  20211025003735      NaN       37     NaN

[2113976 rows x 4 columns]

In [85]:
locations.update(flipped_o)

In [89]:
locations.columns

Index(['uniqueplayId', 'football_x', 'football_y', 'event_x', 'quarter',
       'down', 'yardsToGo', 'possessionTeam', 'defensiveTeam',
       'yardlineNumber', 'gameClock', 'preSnapHomeScore',
       'preSnapVisitorScore', 'homeTeamAbbr', 'absoluteYardlineNumber',
       'pff_passCoverage', 'nflId', 'frameId', 'time', 'team', 'playDirection',
       'x', 'y', 's', 'a', 'o', 'event_y', 'new_x', 'new_y', 'Defense'],
      dtype='object')

In [90]:
locations['score_d'] = locations['preSnapHomeScore'] - locations['preSnapVisitorScore']

In [97]:
locations['score_d'] = np.where(locations['defensiveTeam'] == locations['homeTeamAbbr'], locations['score_d'] * 1, locations['score_d'] * -1)

In [98]:
locations

,uniqueplayId,football_x,football_y,event_x,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineNumber,...,x,y,s,a,o,event_y,new_x,new_y,Defense,score_d
0,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,37.64,24.26,0.35,0.53,215.58,ball_snap,3.92,-0.34,0,0
1,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,37.56,24.26,0.54,1.05,222.51,None,4.00,-0.34,0,0
2,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,37.47,24.25,0.80,1.85,228.05,None,4.09,-0.33,0,0
3,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,37.38,24.24,0.99,2.03,230.15,None,4.18,-0.32,0,0
4,202109090097,41.56,23.92,ball_snap,1,3,2,TB,DAL,33,...,37.27,24.23,1.19,1.82,236.21,None,4.29,-0.31,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4340647,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,102.23,27.11,1.48,0.57,NaN,None,7.74,0.60,0,3
4340648,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,102.35,27.20,1.56,0.81,NaN,None,7.86,0.69,0,3
4340649,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,102.49,27.27,1.61,0.94,NaN,None,8.00,0.76,0,3
4340650,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,102.64,27.33,1.64,1.55,NaN,None,8.15,0.82,0,3
4340651,20211025003945,94.49,26.51,ball_snap,4,3,18,SEA,NO,17,...,102.82,27.36,1.72,1.70,NaN,None,8.33,0.85,0,3

In [144]:
## Attempting to get the adjacency matrices for all plays
from scipy.spatial.distance import cdist
all_plays  = locations[['nflId','frameId','uniqueplayId','new_x','new_y']].set_index(['nflId','frameId','uniqueplayId'])
dis_matrices = all_plays.groupby(['uniqueplayId','frameId']).apply(lambda x: cdist(x,x,'euclidean'))

In [150]:
dis_matrices[0]

array([[ 0.        ,  3.22013975,  1.2980755 , 11.26812318,  5.88153891,
         7.12511754, 14.75107115,  2.4060133 ,  4.96424214,  3.29611893,
         0.96208108, 23.69477791, 23.32021441,  5.98965775,  4.3363118 ,
         3.43960754, 15.39321929, 12.584705  ,  5.45641824, 13.59609135,
        17.69420809,  2.42917682,  2.17165835],
       [ 3.22013975,  0.        ,  2.07125566, 14.3285903 ,  3.34400957,
        10.34278492, 11.545432  ,  5.6217435 ,  8.17655184,  5.82722061,
         3.67947007, 26.71495836, 26.54031839,  2.78469029,  6.7416096 ,
         6.6197432 , 12.58644112, 11.84120349,  8.4395379 , 16.81097261,
        19.9321775 ,  5.52268051,  5.17820432],
       [ 1.2980755 ,  2.07125566,  0.        , 12.56592217,  5.11786088,
         8.36280455, 13.51469201,  3.66629241,  6.15003252,  4.45558077,
         1.60853971, 24.99284898, 24.5327903 ,  4.77177116,  5.47483333,
         4.57052513, 14.55709449, 12.67738932,  6.74866653, 14.77915086,
        18.85167367,  3.45567649,  3.10697602],
       [11.26812318, 14.3285903 , 12.56592217,  0.        , 15.85104728,
         4.98570958, 25.77969162,  8.97878054,  7.12447191,  8.67761488,
        11.29712353, 12.43057923, 13.32874338, 17.09154762,  8.03762403,
         8.59386409, 24.52543578, 16.90647805,  5.89661767,  5.67860018,
         9.57237693,  9.7060033 , 10.1287166 ],
       [ 5.88153891,  3.34400957,  5.11786088, 15.85104728,  0.        ,
        12.57891887, 10.22625053,  8.03218526, 10.65202328,  7.22056092,
         6.6291553 , 27.94074086, 28.67800028,  3.14326264,  7.82000639,
         9.25337776,  9.51227102,  9.15434869, 10.07218943, 19.14101356,
        19.90506719,  8.30927193,  8.04419045],
       [ 7.12511754, 10.34278492,  8.36280455,  4.98570958, 12.57891887,
         0.        , 21.87294676,  4.7210592 ,  2.30867928,  5.63355128,
         6.88021075, 17.11030684, 16.20422476, 13.1141946 ,  5.58806764,
         3.91348949, 21.90042237, 16.25657098,  3.18210622,  6.56210332,
        13.84163646,  5.08885056,  5.50971869],
       [14.75107115, 11.545432  , 13.51469201, 25.77969162, 10.22625053,
        21.87294676,  0.        , 17.15706851, 19.65946591, 17.11906832,
        15.05132884, 38.05596931, 38.04314524,  8.76301889, 17.87212634,
        18.06283477,  8.09830229, 16.57946018, 19.88852936, 28.27021401,
        30.01784303, 16.91014488, 16.52030266],
       [ 2.4060133 ,  5.6217435 ,  3.66629241,  8.97878054,  8.03218526,
         4.7210592 , 17.15706851,  0.        ,  2.62434754,  2.48243832,
         2.32131428, 21.40576091, 20.92174228,  8.39550475,  3.33384163,
         1.34350288, 17.50235698, 13.449197  ,  3.38103534, 11.22012478,
        16.08403245,  1.21655251,  1.49164339],
       [ 4.96424214,  8.17655184,  6.15003252,  7.12447191, 10.65202328,
         2.30867928, 19.65946591,  2.62434754,  0.        ,  4.27968457,
         4.61823559, 19.39043579, 18.38413718, 10.92103017,  4.64591218,
         1.61623018, 20.10341513, 15.40401571,  2.99135421,  8.63448898,
        15.37277138,  2.79270478,  3.2095171 ],
       [ 3.29611893,  5.82722061,  4.45558077,  8.67761488,  7.22056092,
         5.63355128, 17.11906832,  2.48243832,  4.27968457,  0.        ,
         3.89178622, 20.9576263 , 21.4928081 ,  8.51128662,  1.04307238,
         3.65820994, 16.32207095, 11.16164862,  2.8525252 , 12.11056151,
        14.40592239,  3.65547535,  3.82472221],
       [ 0.96208108,  3.67947007,  1.60853971, 11.29712353,  6.6291553 ,
         6.88021075, 15.05132884,  2.32131428,  4.61823559,  3.89178622,
         0.        , 23.72065134, 22.99392094,  6.34476162,  4.92832629,
         3.01239108, 16.11558252, 13.54673392,  5.64801735, 13.22030635,
        18.17127954,  1.86453748,  1.50029997],
       [23.69477791, 26.71495836, 24.99284898, 12.43057923, 27.94074086,
        17.11030684, 38.05596931, 21.40576091, 19.39043579, 20.9576263 ,
        23.72065134,  0.        ,  8.70451033, 29.45416269, 20.18422404,
        20.9386628 , 35.8848004 , 26.63521917, 18.27971553, 12.78837754,
        11.58416592, 22.08190662, 22.50707444],
       [23.32021441, 26.54031839, 24.5327903 , 13.32874338, 28.67800028,
        16.20422476, 38.04314524, 20.92174228, 18.38413718, 21.4928081 ,
        22.99392094,  8.70451033,  0.        , 29.30098292, 21.06982677,
        19.98157401, 37.72274115, 30.10076411, 18.65210176,  9.80049489,
        17.86151729, 21.14046594, 21.53810809],
       [ 5.98965775,  2.78469029,  4.77177116, 17.09154762,  3.14326264,
        13.1141946 ,  8.76301889,  8.39550475, 10.92103017,  8.51128662,
         6.34476162, 29.45416269, 29.30098292,  0.        ,  9.36361041,
         9.34036937, 10.64030075, 12.2727829 , 11.19618239, 19.55080817,
        22.28607188,  8.20904988,  7.83732735],
       [ 4.3363118 ,  6.7416096 ,  5.47483333,  8.03762403,  7.82000639,
         5.58806764, 17.87212634,  3.33384163,  4.64591218,  1.04307238,
         4.92832629, 20.18422404, 21.06982677,  9.36361041,  0.        ,
         4.35229824, 16.65903959, 10.79614746,  2.49881972, 11.8810816 ,
        13.37751098,  4.54428212,  4.75946426],
       [ 3.43960754,  6.6197432 ,  4.57052513,  8.59386409,  9.25337776,
         3.91348949, 18.06283477,  1.34350288,  1.61623018,  3.65820994,
         3.01239108, 20.9386628 , 19.98157401,  9.34036937,  4.35229824,
         0.        , 18.75277313, 14.75089489,  3.60671596, 10.21215942,
        16.37437327,  1.17686023,  1.5962456 ],
       [15.39321929, 12.58644112, 14.55709449, 24.52543578,  9.51227102,
        21.90042237,  8.09830229, 17.50235698, 20.10341513, 16.32207095,
        16.11558252, 35.8848004 , 37.72274115, 10.64030075, 16.65903959,
        18.75277313,  0.        , 10.60899618, 19.11286739, 28.42841712,
        26.13338478, 17.82146178, 17.55169792],
       [12.584705  , 11.84120349, 12.67738932, 16.90647805,  9.15434869,
        16.25657098, 16.57946018, 13.449197  , 15.40401571, 11.16164862,
        13.54673392, 26.63521917, 30.10076411, 12.2727829 , 10.79614746,
        14.75089489, 10.60899618,  0.        , 13.07483461, 21.99523812,
        15.98532452, 14.40947258, 14.39087558],
       [ 5.45641824,  8.4395379 ,  6.74866653,  5.89661767, 10.07218943,
         3.18210622, 19.88852936,  3.38103534,  2.99135421,  2.8525252 ,
         5.64801735, 18.27971553, 18.65210176, 11.19618239,  2.49881972,
         3.60671596, 19.11286739, 13.07483461,  0.        ,  9.38318709,
        12.79001564,  4.41400045,  4.78869502],
       [13.59609135, 16.81097261, 14.77915086,  5.67860018, 19.14101356,
         6.56210332, 28.27021401, 11.22012478,  8.63448898, 12.11056151,
        13.22030635, 12.78837754,  9.80049489, 19.55080817, 11.8810816 ,
        10.21215942, 28.42841712, 21.99523812,  9.38318709,  0.        ,
        14.49449896, 11.36007042, 11.75187645],
       [17.69420809, 19.9321775 , 18.85167367,  9.57237693, 19.90506719,
        13.84163646, 30.01784303, 16.08403245, 15.37277138, 14.40592239,
        18.17127954, 11.58416592, 17.86151729, 22.28607188, 13.37751098,
        16.37437327, 26.13338478, 15.98532452, 12.79001564, 14.49449896,
         0.        , 17.19104709, 17.54802838],
       [ 2.42917682,  5.52268051,  3.45567649,  9.7060033 ,  8.30927193,
         5.08885056, 16.91014488,  1.21655251,  2.79270478,  3.65547535,
         1.86453748, 22.08190662, 21.14046594,  8.20904988,  4.54428212,
         1.17686023, 17.82146178, 14.40947258,  4.41400045, 11.36007042,
        17.19104709,  0.        ,  0.42544095],
       [ 2.17165835,  5.17820432,  3.10697602, 10.1287166 ,  8.04419045,
         5.50971869, 16.52030266,  1.49164339,  3.2095171 ,  3.82472221,
         1.50029997, 22.50707444, 21.53810809,  7.83732735,  4.75946426,
         1.5962456 , 17.55169792, 14.39087558,  4.78869502, 11.75187645,
        17.54802838,  0.42544095,  0.        ]])

In [146]:
binary_adj = dis_matrices.copy()
for frame in range(len(binary_adj)):
  binary_adj[frame] = (binary_adj[frame] < 10).astype(int)

In [147]:
binary_adj[0]

array([[1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
        0],
       [1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
        1],
       [1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
        1],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
        0],
       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
        1],
       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0],
       [1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
        1],
       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0],
       [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
        1],
       [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0],
       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1],
       [1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        1]])

In [148]:
edge_features = dis_matrices.copy()
for frame in range(len(edge_features)):
    edge_features[frame] = np.array([-13*(xi) + 131.0 for xi in edge_features[frame]])

In [149]:
edge_features[0]

array([[ 1.31000000e+02,  8.91381833e+01,  1.14125019e+02,
        -1.54856013e+01,  5.45399941e+01,  3.83734719e+01,
        -6.07639249e+01,  9.97218271e+01,  6.64648522e+01,
         8.81504539e+01,  1.18492946e+02, -1.77032113e+02,
        -1.72162787e+02,  5.31344492e+01,  7.46279466e+01,
         8.62851020e+01, -6.91118507e+01, -3.26011650e+01,
         6.00665629e+01, -4.57491876e+01, -9.90247052e+01,
         9.94207014e+01,  1.02768441e+02],
       [ 8.91381833e+01,  1.31000000e+02,  1.04073676e+02,
        -5.52716739e+01,  8.75278756e+01, -3.45620402e+00,
        -1.90906160e+01,  5.79173345e+01,  2.47048261e+01,
         5.52461321e+01,  8.31668891e+01, -2.16294459e+02,
        -2.14024139e+02,  9.47990263e+01,  4.33590752e+01,
         4.49433384e+01, -3.26237345e+01, -2.29356453e+01,
         2.12860073e+01, -8.75426439e+01, -1.28118308e+02,
         5.92051534e+01,  6.36833438e+01],
       [ 1.14125019e+02,  1.04073676e+02,  1.31000000e+02,
        -3.23569882e+01,  6.44678085e+01,  2.22835408e+01,
        -4.46909961e+01,  8.33381987e+01,  5.10495772e+01,
         7.30774500e+01,  1.10088984e+02, -1.93907037e+02,
        -1.87926274e+02,  6.89669749e+01,  5.98271667e+01,
         7.15831733e+01, -5.82422284e+01, -3.38060612e+01,
         4.32673350e+01, -6.11289611e+01, -1.14071758e+02,
         8.60762056e+01,  9.06093117e+01],
       [-1.54856013e+01, -5.52716739e+01, -3.23569882e+01,
         1.31000000e+02, -7.50636147e+01,  6.61857755e+01,
        -2.04135991e+02,  1.42758530e+01,  3.83818652e+01,
         1.81910066e+01, -1.58626059e+01, -3.05975300e+01,
        -4.22736639e+01, -9.11901190e+01,  2.65108876e+01,
         1.92797668e+01, -1.87830665e+02, -8.87842146e+01,
         5.43439702e+01,  5.71781977e+01,  6.55909997e+00,
         4.82195714e+00, -6.73315824e-01],
       [ 5.45399941e+01,  8.75278756e+01,  6.44678085e+01,
        -7.50636147e+01,  1.31000000e+02, -3.25259453e+01,
        -1.94125695e+00,  2.65815917e+01, -7.47630267e+00,
         3.71327080e+01,  4.48209811e+01, -2.32229631e+02,
        -2.41814004e+02,  9.01375857e+01,  2.93399169e+01,
         1.07060891e+01,  7.34047671e+00,  1.19934670e+01,
         6.15373544e-02, -1.17833176e+02, -1.27765874e+02,
         2.29794649e+01,  2.64255241e+01],
       [ 3.83734719e+01, -3.45620402e+00,  2.22835408e+01,
         6.61857755e+01, -3.25259453e+01,  1.31000000e+02,
        -1.53348308e+02,  6.96262304e+01,  1.00987169e+02,
         5.77638334e+01,  4.15572602e+01, -9.14339889e+01,
        -7.96549219e+01, -3.94845298e+01,  5.83551206e+01,
         8.01246366e+01, -1.53705491e+02, -8.03354227e+01,
         8.96326191e+01,  4.56926568e+01, -4.89412740e+01,
         6.48449427e+01,  5.93736571e+01],
       [-6.07639249e+01, -1.90906160e+01, -4.46909961e+01,
        -2.04135991e+02, -1.94125695e+00, -1.53348308e+02,
         1.31000000e+02, -9.20418907e+01, -1.24573057e+02,
        -9.15478881e+01, -6.46672750e+01, -3.63727601e+02,
        -3.63560888e+02,  1.70807545e+01, -1.01337642e+02,
        -1.03816852e+02,  2.57220702e+01, -8.45329824e+01,
        -1.27550882e+02, -2.36512782e+02, -2.59231959e+02,
        -8.88318835e+01, -8.37639346e+01],
       [ 9.97218271e+01,  5.79173345e+01,  8.33381987e+01,
         1.42758530e+01,  2.65815917e+01,  6.96262304e+01,
        -9.20418907e+01,  1.31000000e+02,  9.68834820e+01,
         9.87283019e+01,  1.00822914e+02, -1.47274892e+02,
        -1.40982650e+02,  2.18584383e+01,  8.76600588e+01,
         1.13534463e+02, -9.65306408e+01, -4.38395610e+01,
         8.70465405e+01, -1.48616221e+01, -7.80924219e+01,
         1.15184817e+02,  1.11608636e+02],
       [ 6.64648522e+01,  2.47048261e+01,  5.10495772e+01,
         3.83818652e+01, -7.47630267e+00,  1.00987169e+02,
        -1.24573057e+02,  9.68834820e+01,  1.31000000e+02,
         7.53641006e+01,  7.09629373e+01, -1.21075665e+02,
        -1.07993783e+02, -1.09733922e+01,  7.06031416e+01,
         1.09989008e+02, -1.30344397e+02, -6.92522042e+01,
         9.21123953e+01,  1.87516432e+01, -6.88460280e+01,
         9.46948378e+01,  8.92762777e+01],
       [ 8.81504539e+01,  5.52461321e+01,  7.30774500e+01,
         1.81910066e+01,  3.71327080e+01,  5.77638334e+01,
        -9.15478881e+01,  9.87283019e+01,  7.53641006e+01,
         1.31000000e+02,  8.04067791e+01, -1.41449142e+02,
        -1.48406505e+02,  2.03532739e+01,  1.17440059e+02,
         8.34432707e+01, -8.11869223e+01, -1.41014321e+01,
         9.39171724e+01, -2.64372996e+01, -5.62769911e+01,
         8.34788205e+01,  8.12786112e+01],
       [ 1.18492946e+02,  8.31668891e+01,  1.10088984e+02,
        -1.58626059e+01,  4.48209811e+01,  4.15572602e+01,
        -6.46672750e+01,  1.00822914e+02,  7.09629373e+01,
         8.04067791e+01,  1.31000000e+02, -1.77368467e+02,
        -1.67920972e+02,  4.85180990e+01,  6.69317583e+01,
         9.18389160e+01, -7.85025728e+01, -4.51075410e+01,
         5.75757744e+01, -4.08639826e+01, -1.05226634e+02,
         1.06761013e+02,  1.11496100e+02],
       [-1.77032113e+02, -2.16294459e+02, -1.93907037e+02,
        -3.05975300e+01, -2.32229631e+02, -9.14339889e+01,
        -3.63727601e+02, -1.47274892e+02, -1.21075665e+02,
        -1.41449142e+02, -1.77368467e+02,  1.31000000e+02,
         1.78413658e+01, -2.51904115e+02, -1.31394912e+02,
        -1.41202616e+02, -3.35502405e+02, -2.15257849e+02,
        -1.06636302e+02, -3.52489080e+01, -1.95941569e+01,
        -1.56064786e+02, -1.61591968e+02],
       [-1.72162787e+02, -2.14024139e+02, -1.87926274e+02,
        -4.22736639e+01, -2.41814004e+02, -7.96549219e+01,
        -3.63560888e+02, -1.40982650e+02, -1.07993783e+02,
        -1.48406505e+02, -1.67920972e+02,  1.78413658e+01,
         1.31000000e+02, -2.49912778e+02, -1.42907748e+02,
        -1.28760462e+02, -3.59395635e+02, -2.60309933e+02,
        -1.11477323e+02,  3.59356649e+00, -1.01199725e+02,
        -1.43826057e+02, -1.48995405e+02],
       [ 5.31344492e+01,  9.47990263e+01,  6.89669749e+01,
        -9.11901190e+01,  9.01375857e+01, -3.94845298e+01,
         1.70807545e+01,  2.18584383e+01, -1.09733922e+01,
         2.03532739e+01,  4.85180990e+01, -2.51904115e+02,
        -2.49912778e+02,  1.31000000e+02,  9.27306461e+00,
         9.57519817e+00, -7.32390972e+00, -2.85461776e+01,
        -1.45503710e+01, -1.23160506e+02, -1.58718934e+02,
         2.42823515e+01,  2.91147444e+01],
       [ 7.46279466e+01,  4.33590752e+01,  5.98271667e+01,
         2.65108876e+01,  2.93399169e+01,  5.83551206e+01,
        -1.01337642e+02,  8.76600588e+01,  7.06031416e+01,
         1.17440059e+02,  6.69317583e+01, -1.31394912e+02,
        -1.42907748e+02,  9.27306461e+00,  1.31000000e+02,
         7.44201228e+01, -8.55675146e+01, -9.34991699e+00,
         9.85153436e+01, -2.34540608e+01, -4.29076427e+01,
         7.19243324e+01,  6.91269647e+01],
       [ 8.62851020e+01,  4.49433384e+01,  7.15831733e+01,
         1.92797668e+01,  1.07060891e+01,  8.01246366e+01,
        -1.03816852e+02,  1.13534463e+02,  1.09989008e+02,
         8.34432707e+01,  9.18389160e+01, -1.41202616e+02,
        -1.28760462e+02,  9.57519817e+00,  7.44201228e+01,
         1.31000000e+02, -1.12786051e+02, -6.07616335e+01,
         8.41126925e+01, -1.75807245e+00, -8.18668525e+01,
         1.15700817e+02,  1.10248807e+02],
       [-6.91118507e+01, -3.26237345e+01, -5.82422284e+01,
        -1.87830665e+02,  7.34047671e+00, -1.53705491e+02,
         2.57220702e+01, -9.65306408e+01, -1.30344397e+02,
        -8.11869223e+01, -7.85025728e+01, -3.35502405e+02,
        -3.59395635e+02, -7.32390972e+00, -8.55675146e+01,
        -1.12786051e+02,  1.31000000e+02, -6.91695037e+00,
        -1.17467276e+02, -2.38569423e+02, -2.08734002e+02,
        -1.00679003e+02, -9.71720730e+01],
       [-3.26011650e+01, -2.29356453e+01, -3.38060612e+01,
        -8.87842146e+01,  1.19934670e+01, -8.03354227e+01,
        -8.45329824e+01, -4.38395610e+01, -6.92522042e+01,
        -1.41014321e+01, -4.51075410e+01, -2.15257849e+02,
        -2.60309933e+02, -2.85461776e+01, -9.34991699e+00,
        -6.07616335e+01, -6.91695037e+00,  1.31000000e+02,
        -3.89728499e+01, -1.54938096e+02, -7.68092188e+01,
        -5.63231435e+01, -5.60813826e+01],
       [ 6.00665629e+01,  2.12860073e+01,  4.32673350e+01,
         5.43439702e+01,  6.15373544e-02,  8.96326191e+01,
        -1.27550882e+02,  8.70465405e+01,  9.21123953e+01,
         9.39171724e+01,  5.75757744e+01, -1.06636302e+02,
        -1.11477323e+02, -1.45503710e+01,  9.85153436e+01,
         8.41126925e+01, -1.17467276e+02, -3.89728499e+01,
         1.31000000e+02,  9.01856781e+00, -3.52702033e+01,
         7.36179941e+01,  6.87469647e+01],
       [-4.57491876e+01, -8.75426439e+01, -6.11289611e+01,
         5.71781977e+01, -1.17833176e+02,  4.56926568e+01,
        -2.36512782e+02, -1.48616221e+01,  1.87516432e+01,
        -2.64372996e+01, -4.08639826e+01, -3.52489080e+01,
         3.59356649e+00, -1.23160506e+02, -2.34540608e+01,
        -1.75807245e+00, -2.38569423e+02, -1.54938096e+02,
         9.01856781e+00,  1.31000000e+02, -5.74284864e+01,
        -1.66809155e+01, -2.17743938e+01],
       [-9.90247052e+01, -1.28118308e+02, -1.14071758e+02,
         6.55909997e+00, -1.27765874e+02, -4.89412740e+01,
        -2.59231959e+02, -7.80924219e+01, -6.88460280e+01,
        -5.62769911e+01, -1.05226634e+02, -1.95941569e+01,
        -1.01199725e+02, -1.58718934e+02, -4.29076427e+01,
        -8.18668525e+01, -2.08734002e+02, -7.68092188e+01,
        -3.52702033e+01, -5.74284864e+01,  1.31000000e+02,
        -9.24836122e+01, -9.71243689e+01],
       [ 9.94207014e+01,  5.92051534e+01,  8.60762056e+01,
         4.82195714e+00,  2.29794649e+01,  6.48449427e+01,
        -8.88318835e+01,  1.15184817e+02,  9.46948378e+01,
         8.34788205e+01,  1.06761013e+02, -1.56064786e+02,
        -1.43826057e+02,  2.42823515e+01,  7.19243324e+01,
         1.15700817e+02, -1.00679003e+02, -5.63231435e+01,
         7.36179941e+01, -1.66809155e+01, -9.24836122e+01,
         1.31000000e+02,  1.25469268e+02],
       [ 1.02768441e+02,  6.36833438e+01,  9.06093117e+01,
        -6.73315824e-01,  2.64255241e+01,  5.93736571e+01,
        -8.37639346e+01,  1.11608636e+02,  8.92762777e+01,
         8.12786112e+01,  1.11496100e+02, -1.61591968e+02,
        -1.48995405e+02,  2.91147444e+01,  6.91269647e+01,
         1.10248807e+02, -9.71720730e+01, -5.60813826e+01,
         6.87469647e+01, -2.17743938e+01, -9.71243689e+01,
         1.25469268e+02,  1.31000000e+02]])

In [151]:
locations.columns

Index(['uniqueplayId', 'football_x', 'football_y', 'event_x', 'quarter',
       'down', 'yardsToGo', 'possessionTeam', 'defensiveTeam',
       'yardlineNumber', 'gameClock', 'preSnapHomeScore',
       'preSnapVisitorScore', 'homeTeamAbbr', 'absoluteYardlineNumber',
       'pff_passCoverage', 'nflId', 'frameId', 'time', 'team', 'playDirection',
       'x', 'y', 's', 'a', 'o', 'event_y', 'new_x', 'new_y', 'Defense',
       'score_d'],
      dtype='object')

In [168]:
node_features = locations[['uniqueplayId', 'quarter',
       'down', 'yardsToGo', 'defensiveTeam',
       'yardlineNumber', 'absoluteYardlineNumber','nflId', 
        'frameId', 's', 'o', 'new_x', 'new_y', 'Defense',
       'score_d']].set_index(['uniqueplayId','frameId','nflId'])

In [169]:
## Where does our response go? In the node feature matrix or separate?

In [170]:
node_features[:50]

                              quarter  down  yardsToGo defensiveTeam  \
uniqueplayId frameId nflId
202109090097 6.0     25511.0        1     3          2           DAL
             7.0     25511.0        1     3          2           DAL
             8.0     25511.0        1     3          2           DAL
             9.0     25511.0        1     3          2           DAL
             10.0    25511.0        1     3          2           DAL
             11.0    25511.0        1     3          2           DAL
             12.0    25511.0        1     3          2           DAL
             13.0    25511.0        1     3          2           DAL
             14.0    25511.0        1     3          2           DAL
             15.0    25511.0        1     3          2           DAL
             16.0    25511.0        1     3          2           DAL
             17.0    25511.0        1     3          2           DAL
             18.0    25511.0        1     3          2           DAL
             19.0    25511.0        1     3          2           DAL
             20.0    25511.0        1     3          2           DAL
             21.0    25511.0        1     3          2           DAL
             22.0    25511.0        1     3          2           DAL
             23.0    25511.0        1     3          2           DAL
             24.0    25511.0        1     3          2           DAL
             25.0    25511.0        1     3          2           DAL
             26.0    25511.0        1     3          2           DAL
             27.0    25511.0        1     3          2           DAL
             28.0    25511.0        1     3          2           DAL
             29.0    25511.0        1     3          2           DAL
             30.0    25511.0        1     3          2           DAL
             31.0    25511.0        1     3          2           DAL
             32.0    25511.0        1     3          2           DAL
             33.0    25511.0        1     3          2           DAL
             34.0    25511.0        1     3          2           DAL
             35.0    25511.0        1     3          2           DAL
             36.0    25511.0        1     3          2           DAL
             6.0     35481.0        1     3          2           DAL
             7.0     35481.0        1     3          2           DAL
             8.0     35481.0        1     3          2           DAL
             9.0     35481.0        1     3          2           DAL
             10.0    35481.0        1     3          2           DAL
             11.0    35481.0        1     3          2           DAL
             12.0    35481.0        1     3          2           DAL
             13.0    35481.0        1     3          2           DAL
             14.0    35481.0        1     3          2           DAL
             15.0    35481.0        1     3          2           DAL
             16.0    35481.0        1     3          2           DAL
             17.0    35481.0        1     3          2           DAL
             18.0    35481.0        1     3          2           DAL
             19.0    35481.0        1     3          2           DAL
             20.0    35481.0        1     3          2           DAL
             21.0    35481.0        1     3          2           DAL
             22.0    35481.0        1     3          2           DAL
             23.0    35481.0        1     3          2           DAL
             24.0    35481.0        1     3          2           DAL

                              yardlineNumber  absoluteYardlineNumber     s  \
uniqueplayId frameId nflId
202109090097 6.0     25511.0              33                    43.0  0.35
             7.0     25511.0              33                    43.0  0.54
             8.0     25511.0              33                    43.0  0.80
             9.0     25511.0              33                    43.0  0.99
             10.0    25511.0              33                    43.0  1.19
             11.0    25511.0              33                    43.0  1.38
             12.0    25511.0              33                    43.0  1.57
             13.0    25511.0              33                    43.0  1.82
             14.0    25511.0              33                    43.0  2.23
             15.0    25511.0              33                    43.0  2.36
             16.0    25511.0              33                    43.0  2.45
             17.0    25511.0              33                    43.0  2.50
             18.0    25511.0              33                    43.0  2.35
             19.0    25511.0              33                    43.0  2.11
             20.0    25511.0              33                    43.0  1.96
             21.0    25511.0              33                    43.0  1.81
             22.0    25511.0              33                    43.0  1.75
             23.0    25511.0              33                    43.0  1.70
             24.0    25511.0              33                    43.0  1.61
             25.0    25511.0              33                    43.0  1.57
             26.0    25511.0              33                    43.0  1.45
             27.0    25511.0              33                    43.0  1.40
             28.0    25511.0              33                    43.0  1.36
             29.0    25511.0              33                    43.0  1.42
             30.0    25511.0              33                    43.0  1.73
             31.0    25511.0              33                    43.0  1.90
             32.0    25511.0              33                    43.0  2.18
             33.0    25511.0              33                    43.0  2.59
             34.0    25511.0              33                    43.0  2.93
             35.0    25511.0              33                    43.0  3.41
             36.0    25511.0              33                    43.0  3.64
             6.0     35481.0              33                    43.0  1.20
             7.0     35481.0              33                    43.0  1.56
             8.0     35481.0              33                    43.0  2.03
             9.0     35481.0              33                    43.0  2.27
             10.0    35481.0              33                    43.0  2.48
             11.0    35481.0              33                    43.0  2.82
             12.0    35481.0              33                    43.0  3.07
             13.0    35481.0              33                    43.0  3.27
             14.0    35481.0              33                    43.0  3.50
             15.0    35481.0              33                    43.0  3.53
             16.0    35481.0              33                    43.0  3.60
             17.0    35481.0              33                    43.0  3.87
             18.0    35481.0              33                    43.0  4.11
             19.0    35481.0              33                    43.0  4.24
             20.0    35481.0              33                    43.0  4.47
             21.0    35481.0              33                    43.0  4.67
             22.0    35481.0              33                    43.0  4.87
             23.0    35481.0              33                    43.0  5.16
             24.0    35481.0              33                    43.0  5.38

                                   o  new_x  new_y  Defense  score_d
uniqueplayId frameId nflId
202109090097 6.0     25511.0  215.58   3.92  -0.34        0        0
             7.0     25511.0  222.51   4.00  -0.34        0        0
             8.0     25511.0  228.05   4.09  -0.33        0        0
             9.0     25511.0  230.15   4.18  -0.32        0        0
             10.0    25511.0  236.21   4.29  -0.31        0        0
             11.0    25511.0  240.12   4.42  -0.30        0        0
             12.0    25511.0  246.35   4.57  -0.27        0        0
             13.0    25511.0  252.01   4.76  -0.24        0        0
             14.0    25511.0  245.20   5.00  -0.23        0        0
             15.0    25511.0  240.45   5.22  -0.20        0        0
             16.0    25511.0  237.99   5.46  -0.18        0        0
             17.0    25511.0  235.62   5.70  -0.16        0        0
             18.0    25511.0  231.74   5.93  -0.13        0        0
             19.0    25511.0  217.94   6.14  -0.10        0        0
             20.0    25511.0  208.95   6.34  -0.06        0        0
             21.0    25511.0  199.31   6.52  -0.04        0        0
             22.0    25511.0  200.38   6.70  -0.02        0        0
             23.0    25511.0  206.91   6.88  -0.02        0        0
             24.0    25511.0  207.77   7.05   0.00        0        0
             25.0    25511.0  212.42   7.20   0.03        0        0
             26.0    25511.0  208.27   7.35   0.07        0        0
             27.0    25511.0  209.32   7.48   0.13        0        0
             28.0    25511.0  213.85   7.59   0.22        0        0
             29.0    25511.0  218.29   7.70   0.32        0        0
             30.0    25511.0  221.76   7.79   0.49        0        0
             31.0    25511.0  227.09   7.88   0.64        0        0
             32.0    25511.0  232.41   7.96   0.83        0        0
             33.0    25511.0  232.41   8.03   1.07        0        0
             34.0    25511.0  234.72   8.12   1.34        0        0
             35.0    25511.0  240.80   8.23   1.67        0        0
             36.0    25511.0  249.54   8.35   2.00        0        0
             6.0     35481.0  281.03   0.09  -5.42        0        0
             7.0     35481.0  277.63   0.19  -5.44        0        0
             8.0     35481.0  286.25   0.31  -5.50        0        0
             9.0     35481.0  284.66   0.48  -5.63        0        0
             10.0    35481.0  281.53   0.65  -5.79        0        0
             11.0    35481.0  287.32   0.83  -5.97        0        0
             12.0    35481.0  293.66   1.01  -6.21        0        0
             13.0    35481.0  303.50   1.18  -6.48        0        0
             14.0    35481.0  314.77   1.34  -6.77        0        0
             15.0    35481.0  335.71   1.48  -7.09        0        0
             16.0    35481.0  340.86   1.60  -7.43        0        0
             17.0    35481.0  351.55   1.73  -7.79        0        0
             18.0    35481.0  353.48   1.86  -8.18        0        0
             19.0    35481.0  352.35   1.98  -8.59        0        0
             20.0    35481.0  345.48   2.08  -9.03        0        0
             21.0    35481.0  346.70   2.18  -9.49        0        0
             22.0    35481.0  353.74   2.28  -9.97        0        0
             23.0    35481.0  350.49   2.40 -10.47        0        0
             24.0    35481.0  346.42   2.51 -10.99        0        0

In [158]:
y = locations[['uniqueplayId','frameId','nflId','pff_passCoverage']].set_index(['uniqueplayId','frameId','nflId'])

In [171]:
binary_adj.to_pickle('adj_mat.pkl')

In [172]:
edge_features.to_pickle('edge_features.pkl')

In [173]:
node_features.to_pickle('node_features.pkl')

In [174]:
y.to_pickle('y.pkl')